- var scripts = getBlock('scripts')
- var styles = getBlock('styles')

//- jQuery
- scripts.add(["/vendor/foundation/js/vendor/custom.modernizr.js"])
- scripts.add(["/vendor/foundation/js/vendor/jquery.js"])

//- Zurb Foundation



- scripts.add(["/vendor/foundation/js/foundation/foundation.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.alerts.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.clearing.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.cookie.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.dropdown.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.forms.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.joyride.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.magellan.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.orbit.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.placeholder.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.reveal.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.section.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.tooltips.js"])
- scripts.add(["/vendor/foundation/js/foundation/foundation.topbar.js"])

//- Other Scripts
- scripts.add(["/vendor/log.js"])

//- User
- styles.add(["/styles/foundation.css"])
- scripts.add(["/scripts/script.js"])

doctype 5
html(lang="en")
	head

		// Meta
		meta(charset="utf-8")
		meta(http-equiv="content-type", content="text/html; charset=utf-8")

		//-
			Use the .htaccess and remove these lines to avoid edge case issues.
			More info: h5bp.com/i/378
		meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

		//- Our site title and description
		title= getPreparedTitle()
		meta(name="description", content=getPreparedDescription())
		meta(name="keywords", content=getPreparedKeywords())
		meta(name="author", content=site.author || '')

		//- Output DocPad produced meta elements
		!= getBlock('meta').toHTML()

		//- Mobile viewport optimized: h5bp.com/viewport
		meta(name="viewport", content="width=device-width")

		// Icons
		link(rel="shortcut icon", href="ico/favicon.ico")
		link(rel="apple-touch-icon-precomposed", sizes="144x144", href="ico/apple-touch-icon-144-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="114x114", href="ico/apple-touch-icon-114-precomposed.png")
		link(rel="apple-touch-icon-precomposed", sizes="72x72", href="ico/apple-touch-icon-72-precomposed.png")
		link(rel="apple-touch-icon-precomposed", href="ico/apple-touch-icon-57-precomposed.png")

		// Styles
		!= styles.toHTML()

	body
		.row
			.twelve.columns
					nav.top-bar
						ul.title-area
							// Title Area 
							li.name
								h1
									a(href='/') Welcome
							li.toggle-topbar
								a(href='#')
						section.top-bar-section
							// Left Nav Section 
							ul.right
								li.divider
								li.has-dropdown
									a.active(href='#') Item 1
									ul.dropdown
										li
											label Section Name
										li.has-dropdown
											a(href='#') Level 1, Has Dropdown
											ul.dropdown
												li
													a(href='#') Level 2
												li
													a(href='#') Level 2
												li.has-dropdown
													a(href='#') Level 2, Has Dropdown
													ul.dropdown
														li
															label Section
														li
															a(href='#') Level 3
														li
															a(href='#') Level 3
														li.divider
														li
															a(href='#') Level 3
												li
													a(href='#') Level 2
												li
													a(href='#') Level 2
										li
											a(href='#') Level 1
										li
											a(href='#') Level 1
										li.divider
										li
											label Section Name
										li
											a(href='#') Level 1
										li
											a(href='#') Level 1
										li
											a(href='#') Level 1
										li.divider
										li
											a(href='#') See all →
								li.divider.hide-for-small
							// Right Nav Section 
							ul.right
								li.divider.show-for-medium-and-up
								li.has-dropdown
									a(href='#') Item 2
									ul.dropdown
										li
											label Section Name
										li
											a(href='#') Level 1
										li
											a(href='#') Dropdown Option
										li
											a(href='#') Dropdown Option
										li.divider
										li
											label Section Name
										li
											a(href='#') Dropdown Option
										li
											a(href='#') Dropdown Option
										li
											a(href='#') Dropdown Option
										li.divider
										li
											a(href='#') See all →

		.row
			.twelve.columns
				section#content.content!= content
		hr

		.row
			.twelve.columns
				footer
					div= site.copyright
					div(style="font-style:italic; font-size: 12px") This website was last updated at #{site.date}

		!= scripts.toHTML()
